
body{
	background-color:gold;
}
h1{color: silver;
}

h2{color: silver;
}

h3{color:silver;
}
p{color:#b87333;
}
table, th, td { background-color:grey;
border:2px solid black;
}
aside{color:tin;
}
th{text-transform:uppercase;
}
