body

header
{
	background-color:#bfbfbf;
}
ul
{
	text-align:center;
}
li
{
    display:inline;
    padding:7px;	
}
#korg
{
   float:right;
    margin-left:150px;
	margin-top:15px;
    	
}
#sök
{
   float:right;
   padding:10px;   
}
a
{
	color:white;
	background-color:#4d4d4d;
	padding:10px;
	text-decoration:none;
}
#one
{ 
float:right;

}

#ten{
	margin:0px 0px 0px 15px;
}
#bild1
{
	margin-left:0px;
}
#bild2
{
	margin-left:55px;
	
}
#bild3
{
	margin-left:128px;
}
#knapp1
{
	
	padding:5px;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:13px;
	padding-top:13px;
	background-color:#595959;
	color:#ff99cc;
	font-size:150%;
	border-radius:7px;
	background-image:url("../images/kundkorg1.png");
	background-repeat:no-repeat;
	background-position:right;
	border:2px solid #ff99cc;
    margin-left:50px;
}
#knapp2
{
	
	padding:5px;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:13px;
	padding-top:13px;
	background-color:#595959;
	color:#ff99cc;
	font-size:150%;
	border-radius:7px;
	background-image:url("../images/kundkorg1.png");
	background-repeat:no-repeat;
	background-position:right;
	border:2px solid #ff99cc;
	margin-left:110px;
}
#knapp3
{
	
	padding:5px;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:13px;
	padding-top:13px;
	background-color:#595959;
	color:#ff99cc;
	font-size:150%;
	border-radius:7px;
	background-image:url("../images/kundkorg1.png");
	background-repeat:no-repeat;
	background-position:right;
	border:2px solid #ff99cc;
	margin-left:200px;
}
#text4{
	margin-left:20px;
}
#text5{
	margin-left:50px;
}
#text6{
	margin-left:100px;
}
footer
{
	background-color:#bfbfbf;
	
}
