body
{
background-image:url("../images/pojke.png"), url("../images/pluppar.png"); 
	background-repeat:no-repeat;	
	background-position:70px,908px;
	
	
}
li{
	display:inline;
	padding:7px;
	
}
ul{
	text-align:center;
}
.sok
{
	float:center;
	
}
input[type="submit"]{margin-top:10px;
float:center;
}

#korg
{
	float:right;
    margin-left:150px;
	margin-top:15px;
   
	
}
h1:hover
{
	background-color:#99ffdd;
	text-shadow:2px 2px 0px #000000;
}
#picture1{
	margin-left:120px;
	margin-top:110px;
	}
#picture2{
	margin-left:80px;
	margin-top:110px;
	}
#picture3{
	margin-left:-10px;
	margin-top:100px;
} 
.five
{
background-color:#99ffdd;
padding:20px;
border-radius:10px;
}

header
{
	background-color:#bfbfbf;
}
	
a 
{
	color:white;
	background-color:#4d4d4d;
	text-decoration:none;
	padding:10px 10px 1px 10px;

	
}

#note 
{
	
	text-align:center;
     	
	margin-bottom:150px;
}



.one
{ 
float:right;
margin-top:5px;
}

#ten{
	margin:0px 0px 0px 15px;
}
footer
{
	background-color:#bfbfbf;

}