body{
	
}
header{
	background-color:#bfbfbf;
}
ul{
	text-align:center;
	}
li{
	display:inline;
	padding:7px;
	}
a 
{
	color:white;
	background-color:#4d4d4d;
	padding:10px 5px 0px 5px;
	text-decoration:none;

}
h2{
	text-align:center;
}
aside
{
	border:2px solid #99ffdd;
	float:right;
	padding:90px;
	margin-top:-350px;
	margin-right:200px;

}
#korg{
	float:right;
	margin-top:50px;
}
#sök{
	float:right;
	margin-top:10px;
	
}


#knapp33{
	margin-left:20px;
	background-color:#4d4d4d;
	padding:10px;
	border-radius:5px;
}
#box{background-color:#99ffdd;
	padding:10px;
	border-radius:5px;
}
#ram{
	border:2px solid #99ffdd;
width:300px;
margin-left:120px;
margin-bottom:70px;
padding:50px;
}

#one{
	float:right;
}
#social{float:right;
	margin-bottom:0px;
}

footer{
	background-color:#bfbfbf;
	width:100%;
	height:100px;
}
/*formulär*/
fieldset
{
	width:90px;
	font-size:150%;
	padding:50px;
	margin-left:430px;
	
}
/*orderbek*/
article
{
	text-align:center;
	
}